#App {
  text-align: center;
}

.reset {
  margin: 20px;
}

.board {
  margin-bottom: 20px;
}

.GameT {
  margin-top: 20px;
}

.status {
  margin-bottom: 10px;
}

.game-info {
  margin-top: 20px;
  margin-bottom: 20px;
}


